html
  head
    title IO Chat
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='http://localhost:3000/css/home_profile.css', type='text/css')
      
  body
    .container
      h4 welcome #{locals.name}
      form(action='http://localhost:3000/chat/logout', method='post', style='float:right')
        button.btn.btn-primary(type='submit') Logout
      .row
        .col-md-4.onlineusers-div
            #onlineusers-title
              h5 Online Users
            ul#users.list-group
        
        .col-md-8
          #recepient.row
            p#recepient-p
            p#typing.typing
          #chat.chat
          form#messageForm
            .form-group
              input#message.form-control(type="text", placeholder="Type a message", style="margin-top:10px")
              br
              input.btn.btn-primary(type='submit', value='Send')
    script.
      $(function(){
        var socket = io();
        var $messageForm = $('#messageForm');
        var $message = $('#message');
        var $chat = $('#chat');
        var $username = '#{locals.name}';
        var $users = $('#users');
        
        socket.emit('new user', $username);
        //sending message
        socket.on('new message', function(data){
          if($('#recepient-p').text() === data.user && data.user !== $username){
            $chat.append('<div class="well"><strong>'+data.user+': '+'</strong>'+data.msg+'</div>');
          }
          if(data.user === $username){
            $chat.append('<div class="well"><strong>'+data.user+': '+'</strong>'+data.msg+'</div>');
          }
        });
        // get the users online
        socket.on('get users', function(data){
          var html = '';
          for(let i=0;i<data.length;i++){
            if(data[i] !== $username){
              html += '<li class="list-group-item" id="click-onlineuser">'+data[i]+'</li>';
            }
          }
          $users.html(html);
        });
        // onclicking user
        $('#users').on('click','li',function(){
          $('#recepient-p').text($(this).text());
          $chat.empty();
          socket.emit('join one2one', $(this).text());
          socket.emit('get texts', $username, $(this).text());

          // on keyup
          $('input').keyup(function(){
            socket.emit('key', $('#recepient-p').text(), $username, 'up');
          });
          $('input').keydown(function(){
            socket.emit('key', $('#recepient-p').text(), $username, 'down');
          })
        });
        // typing notification
        socket.on('typing', function(touser, from, status){
          if($('#recepient-p').text() === from){
            if(status === 'down'){
              $('#typing').text('typing...');
            }
            else if(status === 'up'){
              setTimeout(function(){
                $('#typing').text('');
              },1000);
              
            }
          }
        });
        // on submitting message form (on sending message)
        $messageForm.submit(function(e){
          e.preventDefault();
          socket.emit('send message', $message.val(),$username);
          $message.val('');
        });
        // printing all the saved msgs when the user gets online again
        socket.on('print msgs', function(msgs){
          let msgarr = [];
          for(let i=0; i<msgs.length; i++){
            msgarr = msgs[i].split(':');
            $chat.append('<div class="well"><strong>'+msgarr[0]+': '+'</strong>'+msgarr[1]+'</div>');
          }
        });
        
      });
